.App {
  padding-top: 70px;
}

body {
  margin: 0;
}

.App .inner-container {
  width: 60%;
  background: rgba(255, 255, 255, 0.95);
  padding: 30px 40px;
  border: none;
  border-radius: 30px;
  margin: 0 auto;
  overflow: scroll;
}

.App p {
  font-family: "Poppins", sans-serif;
}
